<h1>Task 1 and 2</h1><table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="city">City</th>
    <th mat-sort-header="start_date">Startdate</th>
    <th mat-sort-header="end_date"> Enddate</th>
    <th mat-sort-header="price">Price</th>
    <th mat-sort-header="status">Status</th>
    <th mat-sort-header="color">Color</th>
  </tr>

  <tr *ngFor="let entry of sortedData">
    <td>{{entry.id}}</td>
    <td>{{entry.city}}</td>
    <td>{{entry.start_date}}</td>
    <td>{{entry.end_date}}</td>
    <td>{{entry.price}}</td>
    <td>{{entry.status}}</td>
    <td>{{entry.color}}</td>
    
  </tr>
</table>

<h1>Task 3 : Form validation</h1>

